.home-body {
    background: url(../../public/images/background.jpeg);
    font-style: Montserrat;
    font-weight: 900;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: cornsilk;
}

.home-body h1 {
    font-size: 6em;
}

.home-body h2 {
    font-size: 3em;
}

.bill-pic-1 {
    text-align: center;
    width: 60%;
    border-radius: 5%;
    border: cornsilk 10px double;
    margin: 15px 0px 15px 15px;
}
