:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

.portfolio-page {
    background: -webkit-linear-gradient(left, #034f84 10%, #667292 80%);
    color: white;
    text-align: center;
    
}

.portfolio-page h1 {
    font-size: 4em;
    font-weight: 900;
    background: linear-gradient(to right, #DD2476 10%, #FF512F 50%, #3c4344 60%);
    background-clip: border-box;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin: 100px 0 50px 0; 
}

.project-container {
    text-align: center;
}

.card {
    padding: 12px;
    background-clip: border-box;
    border: 2px #034f84 solid !important;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.45) 5px 20px 25px -5px;
    padding: 0px !important;
    overflow: hidden;
}

.card-body {  
    background:#034f84;
}

.card-image {
    background-color: white;
    overflow: hidden;
}

.card-title {
    color: #FF512F;
}

.card-text {
    color: white;
}

.btn {
    background: var(--gradient) !important;
    /* -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important; */
    border: 2px solid #fff !important; 
    -webkit-text-fill-color: white !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
    margin: 5px;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: white !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #FF512F !important;
    border: 2px solid #FF512F !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .portfolio-page h1 {
      font-size: 4em;
    }
}

@media screen and (max-width: 600px) {
    .portfolio-page h1 {
      font-size: 2.25em;
    }

    
}

@media screen and (max-width: 400px) {
    .portfolio-page h1 {
      font-size: 2em;
    }
}